.container {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: $padding-section;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }
}